@import 'styles/configs/variables.scss';

.login {
	background-color: darken($white, 5%);
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: relative;
	height: 100vh; 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 400px;

	&__container {
		background-color: $white;
		padding: 48px;
		border-radius: 20px;
		opacity: 0.9;
	}
	
	&__dial-wrapper {
		display: grid;
		grid-template: repeat(4, 1fr) / repeat(3, 1fr);
		grid-gap: 16px;
		margin-bottom: 16px;
	}

	&__logo {
		margin-bottom: 24px;
		text-align: center;
		font-size: 24px
	}

	&__dial-button {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: darken($white, 5%);
		border: 2px solid $white;
		color: $black;
		font-size: 25px;
		transition: all 0.1s ease;
		display: flex;
		justify-content: center;
		align-items: center;

		&:active {
			 background-color: darken($white, 10%);
		}

		&:last-child {
			justify-self: center;
			grid-column: span 3;
		}

	}

	&__dots-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__dot {
		width: 10px;
		height: 10px;
		background-color: darken($white, 10%);
		border: 2px solid $white;
		margin: 5px;
		border-radius: 50%;

		&--active {
			background-color: $black;
		}

	}

}