
@font-face {
  font-family: 'Icon';
  src: 
		url('../../../public/fonts/icon/icon.eot') format('embedded-opentype'), 
		url('../../../public/fonts/icon/icon.woff2') format('woff2'), 
		url('../../../public/fonts/icon/icon.woff') format('woff'), 
		url('../../../public/fonts/icon/icon.ttf') format('truetype'), 
		url('../../../public/fonts/icon/icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'Icon';
  color: inherit;
  flex-shrink: 0;
  text-transform: none;
}


.icon--moon::before {
  content: "\ea02";
}

.icon--sun::before {
  content: "\ea03";
}

.icon--trash::before {
  content: "\ea04";
}

.icon--plus::before {
  content: "\ea05";
}

.icon--open-eye::before {
  content: "\ea06";
}

.icon--closed-eye::before {
  content: "\ea07";
}